<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <footer>Handmade by <a href="http://francheskaguzman.io" target="_blank">Francheska Guzman</a>.</footer>
  </body>
</html>
